apiVersion: v1
kind: Service
metadata:
  name: springboot-service
spec:
  type: NodePort
  selector:
    app: springboot-app
  ports:
    - protocol: TCP
      port: 8085         # Port inside the cluster
      targetPort: 8085   # Port in your container
      nodePort: 30085    # Port exposed on the EC2 public IP (between 30000-32767)
